body{
    margin: 0px;
}

.main{
    display: flex; 
    min-height: 100vh; 
    align-items: stretch; 
}

.PlantSidebar{
    background-image: url('./images/nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 450px;
}