body{
    margin: 0px;
}

.main{
    display: flex; 
    min-height: 100vh; 
    align-items: stretch; 
}

.PlantSidebar{
    background-image: url('./images/nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 450px;
}

.sidebar-overlay {
    position: absolute;
    background: rgba(0,0,0,0.35);
    top: 100px;
    left: 0;
    width: 450px;
    height: 150px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.sidebar-logo{
    width: auto;
    height: 150px;
    display: block;
    padding-left: 100px;
}